.one h2 {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    opacity: 0;
    animation: ZoomIn 1s ease forwards;
    animation-delay: 0s, 1s;
}

.one h2 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.one h2:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

.one h2:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

.container {
    width: 90vw;
    margin: 0 auto;
}